
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="tournamentControlApp.game.home.createOrEditLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <table border="0" class="table table-responsive">
            <thead>
                <tr>
                    <th class="myTextCenter">
                        <span ng-if="vm.game.rivalA.player">{{vm.game.rivalA.player.name}}</span>
                        <span ng-if="vm.game.rivalA.team">{{vm.game.rivalA.team.name}}</span>
                    </th>
                    <th class="myTextCenter"> vs. </th>
                    <th class="myTextCenter">
                        <span ng-if="vm.game.rivalB.player">{{vm.game.rivalB.player.name}}</span>
                        <span ng-if="vm.game.rivalB.team">{{vm.game.rivalB.team.name}}</span>
                    </th>
                    <th class="myTextCenter">Finished set</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="set in vm.game.sets" >
                <tr>
                    <td>
                        <input type="number" class="form-control" name="scoreA" id="field_scoreA"
                           ng-model="set.scoreA"
                           />
                    </td>
                    <td class="myTextCenter"> : </td>
                    <td>
                        <input type="number" class="form-control" name="scoreB" id="field_scoreB"
                           ng-model="set.scoreB"
                           />
                    </td>
                    <td>
                        <input type="checkbox" name="game_set_finished"
                          ng-model="set.finished"/>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-xs" ng-click="vm.removeSet(set.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span  data-translate=""> <!--TODO: -->
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="myPaqddingBottom">
            <a class="btn btn-success" ng-click="vm.addSet()">
                <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="tournamentControlApp.gameSet.home.createLabel">
                    Create new Set
                </span>
            </a>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.game.note" for="field_note">Note</label>
            <textarea type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.game.note"
                    ></textarea>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.game.finished" for="field_finished">Finished</label>
                <input type="checkbox" name="finished" id="field_finished"
                          ng-model="vm.game.finished"/>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
