
<div>
    <h2><span data-translate="tournamentControlApp.game.detail.title">Game</span> {{vm.game.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="tournamentControlApp.game.finished">Finished</span></dt>
        <dd>
            <span>{{vm.game.finished}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.round">Round</span></dt>
        <dd>
            <span>{{vm.game.round}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.period">Period</span></dt>
        <dd>
            <span>{{vm.game.period}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.note">Note</span></dt>
        <dd>
            <span>{{vm.game.note}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.playingField">Playing Field</span></dt>
        <dd>
            <span>{{vm.game.playingField}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.tournament">Tournament</span></dt>
        <dd>
            <a ui-sref="tournament-detail({id:vm.game.tournament.id})">{{vm.game.tournament.id}}</a>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.rivalA">Rival A</span></dt>
        <dd>
            <a ng-if="vm.game.rivalA.player" ui-sref="player-detail({id:vm.game.rivalA.player.id})">{{vm.game.rivalA.player.name}}</a>
            <a ng-if="vm.game.rivalA.team" ui-sref="team-detail({id:vm.game.rivalA.team.id})">{{vm.game.rivalA.team.name}}</a>
        </dd>
        <dt><span data-translate="tournamentControlApp.game.rivalB">Rival B</span></dt>
        <dd>
            <a ng-if="vm.game.rivalB.player" ui-sref="player-detail({id:vm.game.rivalB.player.id})">{{vm.game.rivalB.player.name}}</a>
            <a ng-if="vm.game.rivalB.team" ui-sref="team-detail({id:vm.game.rivalB.team.id})">{{vm.game.rivalB.team.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="game-detail.edit({id:vm.game.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
