
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="tournamentControlApp.game.home.createOrEditLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <table style="margin-left: auto; margin-right: auto; border: 0px">
            <tr>
                <td id="scoreA_input">
                    <div class="form-group form-group-lg">
                        <label class="control-label" for="field_scoreA">
                            <a ng-if="vm.game.rivalA.player" ui-sref="player-detail({id:vm.game.rivalA.player.id})">{{vm.game.rivalA.player.name}}</a>
                            <a ng-if="vm.game.rivalA.team" ui-sref="team-detail({id:vm.game.rivalA.team.id})">{{vm.game.rivalA.team.name}}</a>
                        </label>
                        <input type="number" class="form-control" name="scoreA" id="field_scoreA"
                               ng-model="vm.game.scoreA"
                               min="0"/>
                        <div ng-show="editForm.scoreA.$invalid">
                            <p class="help-block"
                               ng-show="editForm.scoreA.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                                This field should be at least 0.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.scoreA.$error.number" data-translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </td>
                <td id="colon" style="text-align: center; padding: 10px"><h2>:</h2></td>
                <td id="scoreB_input">
                    <div class="form-group form-group-lg">
                        <label class="control-label" for="field_scoreB">
                            <a ng-if="vm.game.rivalB.player" ui-sref="player-detail({id:vm.game.rivalB.player.id})">{{vm.game.rivalB.player.name}}</a>
                            <a ng-if="vm.game.rivalB.team" ui-sref="team-detail({id:vm.game.rivalB.team.id})">{{vm.game.rivalB.team.name}}</a>
                        </label>
                        <input type="number" class="form-control" name="scoreB" id="field_scoreB"
                               ng-model="vm.game.scoreB"
                               min="0"/>
                        <div ng-show="editForm.scoreB.$invalid">
                            <p class="help-block"
                               ng-show="editForm.scoreB.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                                This field should be at least 0.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.scoreB.$error.number" data-translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.game.note" for="field_note">Note</label>
            <textarea type="text" class="form-control" name="note" id="field_note"
                      ng-model="vm.game.note"
                      />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.game.finished" for="field_finished">Finished</label>
            <input type="checkbox" name="finished" id="field_finished"
                   ng-model="vm.game.finished"/>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
