
<form name="editForm" role="form" novalidate ng-submit="vm.save()" ><!-- show-validation -->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCombinedLabel" data-translate="tournamentControlApp.combined.home.createOrEditLabel">Create or edit a Combined</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.combined.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.combined.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.combined.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.combined.note"
                    />
        </div>

<!-- ********* PARTICIPANTS ********* -->
        <div id="participants" class="well well-sm">
            <div id="participants_header">
                <ul class="nav nav-pills pull-left" id="myTab">
                    <li class="active"><a showtab href="#players" ng-click="chosen = 1; vm.init_groupParticipantObject(true)">
                            <span  data-translate=""> Add Players </span> <!--TODO: data-translate -->
                            <span class="badge"> {{vm.selectedPlayers.length}}</span>
                        </a>
                    </li>
                    <li><a showtab href="#teams" ng-click="chosen = 2; vm.init_groupParticipantObject(true)">
                            <span  data-translate=""> Add Teams </span> <!--TODO: data translate-->
                            <span class="badge"> {{vm.selectedTeams.length}}</span>
                        </a>
                    </li>
                </ul>
                <div class="pull-right">
                    <button ng-disabled="chosen===2" type="button" class="btn btn-default"  ng-click="vm.selectAll()">
                        <span data-translate="entity.action.selectAll">Select All</span>
                    </button>
                    <button type="button" class="btn btn-default"  ng-click="vm.deselectAll()">
                        <span data-translate="entity.action.deselectAll">Deselect All</span>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="participants_checkboxes" class="tab-content" style="padding: 10px">
                    <div id="players" class="tab-pane active row">
                        <div class="col-md-3 col-sm-6 col-xs-12"
                             ng-repeat="participant in vm.participants | filter: isPlayer">
                            <span>
                                <label for="player_checkbox_{{$index}}">
                                    <input  type="checkbox"  id="player_checkbox_{{$index}}" 
                                            checklist-model="vm.selectedPlayers" checklist-value="participant"
                                            ng-click="vm.onPlayerClick(participant)"> {{participant.player.name}}
                                </label>
                            </span>
                        </div>
                    </div>
                    <div id="teams" class="tab-pane row">
                        <div class="col-md-3 col-sm-6 col-xs-12"
                             ng-repeat="participant in vm.participants | filter: isTeam">
                            <span>
                                <label for="team_checkbox_{{$index}}" ng-class="vm.getTeamCSS_onValidity(participant)">
                                    <input  type="checkbox"  id="team_checkbox_{{$index}}" name="team_checkbox"
                                            checklist-model="vm.selectedTeams" checklist-value="participant"
                                            ng-disabled="vm.teamIsInvalid(participant)"
                                            ng-click="vm.onTeamClick(participant)">

                                        {{participant.team.name}}
                                </label>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
<!-- ********* end - PARTICIPANTS ********* -->

        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.numberOfGroups" for="field_numberOfGroups">Number Of Groups</label>
            <input type="number" class="form-control" name="numberOfGroups" id="field_numberOfGroups"
                    ng-model="vm.combined.numberOfGroups"
                    ng-change="vm.numberOfGroupsChanged()"
                    required min="1"/>
            <div ng-show="editForm.numberOfGroups.$invalid">
                <p class="help-block"
                    ng-show="editForm.numberOfGroups.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfGroups.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfGroups.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.inGroupTournamentType" for="field_inGroupTournamentType">In Group Tournament Type</label>
            <select class="form-control" name="inGroupTournamentType" ng-model="vm.combined.inGroupTournamentType" id="field_inGroupTournamentType">
                <option value="ALL_VERSUS_ALL" data-translate="tournamentControlApp.TournamentType.ALL_VERSUS_ALL">ALL_VERSUS_ALL</option>
                <option value="ELIMINATION" data-translate="tournamentControlApp.TournamentType.ELIMINATION">ELIMINATION</option>
                <option value="SWISS" data-translate="tournamentControlApp.TournamentType.SWISS">SWISS</option>
            </select>
        </div>

       <!--**** group assignment **** -->
        <div id="assigning_participants_to_groups" class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <label >Assign participants to groups: </label>
                    <input ng-hide="true" type="radio" class="radio radio-inline"/>
                </div>
                <div class="form-group">
                    <label for="assign_to_group_manually_radio">
                    <input class="radio radio-inline" id="assign_to_group_manually_radio" type="radio"
                       ng-model="vm.assign_to_group_manually" ng-value="true">
                    manually</label>
                </div>
                <div class="form-group">
                    <label  for="assign_to_group_automatically_radio">
                    <input class="radio radio-inline" id="assign_to_group_automatically_radio" type="radio"
                       ng-model="vm.assign_to_group_manually" ng-value="false">
                    automatically</label>
                </div>
            </div>

            <div ng-if="vm.assign_to_group_manually === true" ng-init="vm.init_groupParticipantObject(true)" class="well well-sm">
                <div ng-if="chosen === 1" >
                    <div class="form-group" ng-repeat="(groupLetter, groupParticipants) in vm.groupPlayerObject">
                        <label for="group_select_{{groupLetter}}">Group {{groupLetter}}</label>
                        <ui-select id='group_select_{{groupLetter}}'
                                   ng-model="vm.groupPlayerObject[groupLetter]" 
                                   multiple theme="bootstrap" title="Choose a participant" close-on-select="false"
                                   on-select="vm.onPlayerUiSelect_Select(group, $item)" 
                                   on-remove="vm.onPlayerUiSelect_Remove(group, $item)"
                                   >
                            <ui-select-match placeholder="Select or search a person in the list...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.playersToChoose | filter: $select.search track by item.id">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                <span class="text text-info"> &nbsp; &nbsp; No players selected. </span>
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
                <div ng-if="chosen === 2">
                    <div class="form-group" ng-repeat="(groupLetter, groupParticipants) in vm.groupTeamObject">
                        <label for="group_select_{{groupLetter}}">Group {{groupLetter}}</label>
                        <ui-select id='group_select_{{groupLetter}}'
                                   ng-model="vm.groupTeamObject[groupLetter]" 
                                   multiple theme="bootstrap" title="Choose a participant" close-on-select="false"
                                   on-select="vm.onTeamUiSelect_Select(group, $item)" 
                                   on-remove="vm.onTeamUiSelect_Remove(group, $item)"
                                   >
                            <ui-select-match placeholder="Select or search a team in the list...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.teamsToChoose | filter: $select.search track by item.id">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                <span class="text text-info"> &nbsp; &nbsp; No teams selected. </span>
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
       <!--**** END - group assignment **** -->

       <div id="seeding" class="form-group" ng-if="vm.assign_to_group_manually  && vm.combined.inGroupTournamentType !== 'ALL_VERSUS_ALL'">
            <div class="form-inline">
                <div class="form-group">
                    <label >Seed participants: </label>
                    <input ng-hide="true" type="radio" class="radio radio-inline"/>
                </div>
                <div class="form-group">
                    <label for="seed_manually_radio">
                    <input class="radio radio-inline" id="seed_manually_radio" type="radio"
                       ng-model="vm.seed_manually" ng-value="true">
                    manually</label>
                </div>
                <div class="form-group">
                    <label  for="seed_automatically_radio">
                    <input class="radio radio-inline" id="seed_automatically_radio" type="radio"
                       ng-model="vm.seed_manually" ng-value="false">
                    automatically</label>
                </div>
            </div>
           <div ng-if="vm.seed_manually">
           <div ng-if="vm.noParticipantsSelected()" class="alert alert-info">
               No participants have been selected, nothing to seed.
           </div>
           <div ng-if="!vm.noParticipantsSelected()">
               <div ng-if="vm.invalidGroupAssignment()" class="alert alert-warning">
                   All chosen participants must be assigned to a group.
               </div>
               <!--***** This is where seeding actually happens ******-->
               <div ng-if="!vm.invalidGroupAssignment()" ng-init="vm.initSeeding(true)">
                   <div ng-if="vm.combined.inGroupTournamentType === 'SWISS'">
                       <div ng-if="chosen === 1">
                            <div ng-repeat="(group, seeding) in vm.playerSeedingObject" class="panel panel-info">
                                <div class="panel-heading panel-heading-sm">Group {{group}}</div>
                                <table name="seeding-players" class="table table-condensed">
                                    <tbody>
                                        <tr ng-repeat="i in vm.iterator(0,vm.pairsNumber(group),1)">
                                            <td class="my_rival_seeding_column">
                                            <ui-select ng-model="vm.playerSeedingObject[group][i]" theme="bootstrap"
                                            ng-disabled="vm.isBye($select.selected)"
                                            ng-change="vm.onPlayerSelect({{vm.playerSeedingObject[group]}}, vm.playerSeedingObject[group][i], i, group)">
                                                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item in vm.groupPlayerObject[group] | filter: $select.search">
                                                    <div class="row">
                                                        <div class="pull-left text">
                                                            <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                            &nbsp;
                                                        </div>
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="my_middle_seeding_column"><p class="text-center">vs.</p></td>
                                        <td class="my_rival_seeding_column" ng-init="rivalIndex = vm.getRivalIndex(group, i)">
                                            <ui-select ng-model="vm.playerSeedingObject[group][rivalIndex]" theme="bootstrap"
                                            ng-disabled="vm.isBye($select.selected)"
                                            ng-change="vm.onPlayerSelect({{vm.playerSeedingObject[group]}}, vm.playerSeedingObject[group][rivalIndex], rivalIndex, group)">
                                                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item in vm.groupPlayerObject[group] | filter: $select.search">
                                                    <div class="row">
                                                        <div class="pull-left text">
                                                            <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                            &nbsp;
                                                        </div>
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        </tr>
                                            
                                    </tbody>
                                </table>
                            </div>
                       </div>
                       <div ng-if="chosen === 2">
                           <div ng-repeat="(group, seeding) in vm.teamSeedingObject" class="panel panel-info">
                                <div class="panel-heading panel-heading-sm">Group {{group}}</div>
                                <table name="seeding-teams" class="table table-condensed">
                                    <tbody>
                                        <tr ng-repeat="i in vm.iterator(0,vm.pairsNumber(group),1)">
                                            <td class="my_rival_seeding_column">
                                            <ui-select ng-model="vm.teamSeedingObject[group][i]" theme="bootstrap"
                                            ng-disabled="vm.isBye($select.selected)"
                                            ng-change="vm.onTeamSelect({{vm.teamSeedingObject[group]}}, vm.teamSeedingObject[group][i], i, group)">
                                                <ui-select-match placeholder="Select or search a team in the list...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item in vm.groupTeamObject[group] | filter: $select.search">
                                                    <div class="row">
                                                        <div class="pull-left text">
                                                            <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                            &nbsp;
                                                        </div>
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="my_middle_seeding_column"><p class="text-center">vs.</p></td>
                                        <td class="my_rival_seeding_column" ng-init="rivalIndex = vm.getRivalIndex(group, i)">
                                            <ui-select ng-model="vm.teamSeedingObject[group][rivalIndex]" theme="bootstrap"
                                            ng-disabled="vm.isBye($select.selected)"
                                            ng-change="vm.onTeamSelect({{vm.teamSeedingObject[group]}}, vm.teamSeedingObject[group][rivalIndex], rivalIndex, group)">
                                                <ui-select-match placeholder="Select or search a team in the list...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item in vm.groupTeamObject[group] | filter: $select.search">
                                                    <div class="row">
                                                        <div class="pull-left text">
                                                            <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                            &nbsp;
                                                        </div>
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        </tr>
                                            
                                    </tbody>
                                </table>
                            </div>

                       </div>
                   </div>

                   <div ng-if="vm.combined.inGroupTournamentType === 'ELIMINATION'">
                       <div  ng-if="chosen === 1">
                           <div class="panel panel-info" ng-repeat="(group, seeding) in vm.playerSeedingObject">
                               <div class="panel-heading panel-heading-sm">Group {{group}} </div>
                            <div class="panel-body">   
                           <div class="my-wrap " > 
                               <div ng-if="vm.groupPlayerObject[group].length < 3 "
                                    class="alert alert-warning">
                                   <!--TODO: data-translate -->
                                   Group {{group}}: for <b>custom seeding</b> at least <b>three</b>  participants need to be assigned to this group. 
                                   <div ng-hide="true" id="{{'player_tree_'+group}}"></div>
                               </div>

                               <div ng-if="vm.groupPlayerObject[group].length >= 3 ">
                                   <div id="{{'player_tree_'+group}}"></div>
                                   
<!--                                   
                                    <div class="panel panel-info">
                                       <div class="panel-heading panel-heading-sm">Group {{group}} </div>
                                       <div class="panel-body">

                                       </div>
                                   </div>
-->


                                   <div ng-init="vm.initSeeding(!vm.groupNumberChanged && !vm.playersChanged && !vm.teamsChanged && !vm.groupAssignmentChanged)"></div>
                                   <!--generating tables-->
                                   <div ng-init="N = vm.playerSeedingObject[group].length"></div>
                                   <div ng-repeat="i in vm.myIterator(0,N/2,1)" class="my-dropzones-container">
                                       <div id="player_over_{{i}}" class="tree-node-table this-is-over" 
                                            style="top: {{vm.coordinates[group][i].top}}; left: {{vm.coordinates[group][i].left}}">
                                           <div name="A" class="tree-node-table-A">
                                               <ui-select ng-model="vm.playerSeedingObject[group][i]" theme="bootstrap"
                                                          ng-disabled="vm.isBye($select.selected)" 
                                                          ng-change="vm.onPlayerSelect({{vm.playerSeedingObject[group]}}, vm.playerSeedingObject[group][i], i, group)">
                                                   <ui-select-match placeholder="Select or search... ">{{$select.selected.name}}</ui-select-match>
                                                   <ui-select-choices repeat="item in vm.groupPlayerObject[group] | filter: $select.search track by item.id"
                                                                      position='down'>
                                                       <div class="row">
                                                           <div class="pull-left text">
                                                               <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                               &nbsp;
                                                           </div>
                                                           <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                       </div>
                                                   </ui-select-choices>
                                               </ui-select>

                                           </div>
                                           <div name="B" class="tree-node-table-B"  ng-init="rivalIndex = vm.getRivalIndex(group, i)" >
                                               <ui-select ng-model="vm.playerSeedingObject[group][rivalIndex]" theme="bootstrap"
                                                          ng-disabled="vm.isBye($select.selected)"
                                                          ng-change="vm.onPlayerSelect({{vm.playerSeedingObject[group]}}, vm.playerSeedingObject[group][rivalIndex], rivalIndex, group)">
                                                   <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                                   <ui-select-choices repeat="item in vm.groupPlayerObject[group] | filter: $select.search track by item.id"
                                                                      position='down'> 
                                                       <div class="row">
                                                           <div class="pull-left text">
                                                               <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                               &nbsp;
                                                           </div>
                                                           <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                       </div>
                                                   </ui-select-choices>
                                               </ui-select>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                                </div>
                               </div>
                       </div>
                       
                       
                       
                       <div  ng-if="chosen === 2">
                           <div class="my-wrap " ng-repeat="(group, seeding) in vm.teamSeedingObject"> 
                               <div ng-if="vm.groupTeamObject[group].length < 3 "
                                    class="alert alert-warning">
                                   <!--TODO: data-translate -->
                                   Group {{group}}: for <b>custom seeding</b> at least <b>three</b>  participants need to be assigned to this group. 
                                   <!--<div ng-hide="true" id="{{'team_tree_'+group}}"></div>-->
                               </div>

                               <div ng-if="vm.groupTeamObject[group].length >= 3 ">
                                   <div id="{{'team_tree_'+group}}"></div>

                                   <div ng-init="vm.initSeeding(!vm.groupNumberChanged && !vm.teamsChanged && !vm.teamsChanged && !vm.groupAssignmentChanged)"></div>
                                   <!--generating tables-->
                                   <div ng-init="N = vm.teamSeedingObject[group].length"></div>
                                   <div ng-repeat="i in vm.myIterator(0,N/2,1)" class="my-dropzones-container">
                                       <div id="team_over_{{i}}" class="tree-node-table this-is-over" 
                                            style="top: {{vm.coordinates[group][i].top}}; left: {{vm.coordinates[group][i].left}}">
                                           <div name="A" class="tree-node-table-A">
                                               <ui-select ng-model="vm.teamSeedingObject[group][i]" theme="bootstrap"
                                                          ng-disabled="vm.isBye($select.selected)" 
                                                          ng-change="vm.onTeamSelect({{vm.teamSeedingObject[group]}}, vm.teamSeedingObject[group][i], i, group)">
                                                   <ui-select-match placeholder="Select or search... ">{{$select.selected.name}}</ui-select-match>
                                                   <ui-select-choices repeat="item in vm.groupTeamObject[group] | filter: $select.search track by item.id"
                                                                      position='down'>
                                                       <div class="row">
                                                           <div class="pull-left text">
                                                               <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                               &nbsp;
                                                           </div>
                                                           <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                       </div>
                                                   </ui-select-choices>
                                               </ui-select>

                                           </div>
                                           <div name="B" class="tree-node-table-B"  ng-init="rivalIndex = vm.getRivalIndex(group, i)" >
                                               <ui-select ng-model="vm.teamSeedingObject[group][rivalIndex]" theme="bootstrap"
                                                          ng-disabled="vm.isBye($select.selected)" 
                                                          ng-change="vm.onTeamSelect({{vm.teamSeedingObject[group]}}, vm.teamSeedingObject[group][rivalIndex], rivalIndex, group)">
                                                   <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                                   <ui-select-choices repeat="item in vm.groupTeamObject[group] | filter: $select.search track by item.id"
                                                                      position='down'>
                                                       <div class="row">
                                                           <div class="pull-left text">
                                                               <div ng-class="vm.tickIfSelected(group, item)"></div>
                                                               &nbsp;
                                                           </div>
                                                           <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                       </div>
                                                   </ui-select-choices>
                                               </ui-select>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                   </div>
               </div>
           </div>
           </div>




       </div>


<!--**** play off **** -->
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.numberOfWinnersToPlayoff" for="field_numberOfWinnersToPlayoff">Number Of Winners To Playoff</label>
            <input type="number" class="form-control" name="numberOfWinnersToPlayoff" id="field_numberOfWinnersToPlayoff"
                    ng-model="vm.combined.numberOfWinnersToPlayoff"
                    required min="0"/>
            <div ng-show="editForm.numberOfWinnersToPlayoff.$invalid">
                <p class="help-block"
                    ng-show="editForm.numberOfWinnersToPlayoff.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfWinnersToPlayoff.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfWinnersToPlayoff.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.combined.playoffType" for="field_playoffType">Playoff Type</label>
            <select class="form-control" name="playoffType" ng-model="vm.combined.playoffType" id="field_playoffType">
                <option value="ALL_VERSUS_ALL" data-translate="tournamentControlApp.TournamentType.ALL_VERSUS_ALL">ALL_VERSUS_ALL</option>
                <option value="ELIMINATION" data-translate="tournamentControlApp.TournamentType.ELIMINATION">ELIMINATION</option>
                <option value="SWISS" data-translate="tournamentControlApp.TournamentType.SWISS">SWISS</option>
            </select>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
