<div>
    <h2 data-translate="tournamentControlApp.swiss.home.title">Swisses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="swiss.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tournamentControlApp.swiss.home.createLabel">
                        Create new Swiss
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-hover table-white-body">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="tournamentControlApp.tournament.name">name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note"><span data-translate="tournamentControlApp.tournament.note">note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="participants.size"><span data-translate="">Number of Participants</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created"><span data-translate="tournamentControlApp.tournament.created">created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="swiss in vm.swisses track by swiss.id"
                    ui-sref="swiss-detail({id:swiss.id})">
                    <td><a ui-sref="swiss-detail({id:swiss.id})">{{swiss.id}}</a></td>
                    <td>{{swiss.name}}</td>
                    <td>{{swiss.note}}</td>
                    <td>{{swiss.participants.length}}</td>
                    <td>{{swiss.created | date:'medium'}}</td>
                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="swiss-detail({id:swiss.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="swiss.edit({id:swiss.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="swiss.delete({id:swiss.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
