
<div>
    <h2><small>Swiss System Tournament:</small> {{vm.swiss.name}}</h2>
    <hr/>
    <jhi-alert-error></jhi-alert-error>
    <!-- ********* entity details ********* -->
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="global.field.id">Id</span></dt>
        <dd>
            <span>{{vm.swiss.id}}</span>
        </dd>
        
        <dt><span data-translate="tournamentControlApp.tournament.note">Note</span></dt>
        <dd>
            <span>{{vm.swiss.note}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForWinning">Points For Winning</span></dt>
        <dd>
            <span>{{vm.swiss.pointsForWinning}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForLosing">Points For Losing</span></dt>
        <dd>
            <span>{{vm.swiss.pointsForLosing}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForTie">Points For Tie</span></dt>
        <dd>
            <span>{{vm.swiss.pointsForTie}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.created">Created</span></dt>
        <dd>
            <span>{{vm.swiss.created| date:'medium'}}</span>
        </dd>
        
        <dt><span data-translate="tournamentControlApp.tournament.setsToWin">Sets To Win</span></dt>
        <dd>
            <span>{{vm.swiss.setsToWin}}</span>
        </dd>
        <dt><span data-translate="">Default set settings</span></dt>
        <dd>
            <div ng-if="vm.swiss.setSettings.maxScore">
                <span><b>Maximal score: </b></span>
                <span>{{vm.swiss.setSettings.maxScore}}</span>
            </div>
            <div ng-if="vm.swiss.setSettings.leadByPoints">
                <span><b>Lead-by points: </b></span>
                <span>{{vm.swiss.setSettings.leadByPoints}}</span>
            </div>
            <div ng-if="vm.swiss.setSettings.minReachedScore">
                <span><b>Minimal reached score: </b></span>
                <span>{{vm.swiss.setSettings.minReachedScore}}</span>
            </div>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.tiesAllowed">Ties Allowed</span></dt>
        <dd>
            <span ng-if="vm.swiss.tiesAllowed">Yes</span>
            <span ng-if="!vm.swiss.tiesAllowed">No</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.playingFields">Playing Fields</span></dt>
        <dd>
            <span>{{vm.swiss.playingFields}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.participants">Participants</span></dt>
        <dd>
            <span ng-repeat="participant in vm.swiss.participants">
                <a ng-if="participant.player" ui-sref="player-detail({id: participant.player.id})">{{participant.player.name}}</a>
                <a ng-if="participant.team" ui-sref="team-detail({id: participant.team.id})">{{participant.team.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        
        <dt><span data-translate="tournamentControlApp.swiss.rounds">Rounds</span></dt>
        <dd>
            <span>{{vm.swiss.rounds}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.swiss.roundsToGenerate">Rounds To Generate</span></dt>
        <dd>
            <span>{{vm.swiss.roundsToGenerate}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.swiss.color">Color</span></dt>
        <dd>
            <span>{{vm.swiss.color}}</span>
        </dd>
    </dl>
    <!-- ********* end entity details ********* -->
    
    <!-- ********* Buttons ********* -->
    <div style="padding-bottom: 20px">
        <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>

        <button type="button" ui-sref="swiss-detail.edit({id:vm.swiss.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
        </button>

        <button disabled type="button" class="btn btn-success" ng-href="/generateFile/swiss/{{vm.swiss.id}}">
            <span class="glyphicon glyphicon-download-alt"></span>
            <span class="hidden-sm-down" data-translate=""> Generate .ods spreadsheet </span> <!--TODO: data-translate -->
        </button>
    </div>
    <!-- ********* end Buttons ********* -->
    
    <div ui-view="evaluation-table"></div>
    <br/>
    
    <!-- ********* game tables ********* -->
    <div class="panel panel-primary" ng-repeat="(round,games) in vm.swiss.matches | groupBy: 'round'">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Round {{round}}</h3>
        </div> <!-- TODO data translate -->

        <!-- Table -->
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr >
                        <th>ID</th>
                        <th ng-if="vm.swiss.playingFields && vm.swiss.playingFields > 1" style="text-align: center"><span style="text-align: center" data-translate="tournamentControlApp.game.playingField">Playing Field</span></th>
                        <th style="text-align: center" colspan="3"><span style="text-align: center" data-translate="tournamentControlApp.game.rivals">Rivals</span></th>
                        <th style="text-align: center"><span style="text-align: center" data-translate="tournamentControlApp.gameSet.score">Score</span></th>
                        <th style="text-align: center"><span style="text-align: center" data-translate="tournamentControlApp.game.finished">Finished</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'byeMatch':(game.rivalA.bye || game.rivalB.bye),
                                'success': (game.finished && !game.rivalA.bye && !game.rivalB.bye)}" 
                                ng-repeat="game in games| orderBy:'id' track by game.id">
                        <td>{{game.id}}</td>
                        <td ng-if="vm.swiss.playingFields && vm.swiss.playingFields > 1" style="text-align: center">{{game.playingField}}</td>
                        <td style="text-align: right">
                            <a ng-if="game.rivalA.player" ui-sref="player-detail({id:game.rivalA.player.id})">{{game.rivalA.player.name}}</a>
                            <a ng-if="game.rivalA.team" ui-sref="team-detail({id:game.rivalA.team.id})">{{game.rivalA.team.name}}</a>
                        </td>
                        <td style="text-align: center;padding: 0px">:</td>
                        <td style="text-align: left">
                            <a ng-if="game.rivalB.player" ui-sref="player-detail({id:game.rivalB.player.id})">{{game.rivalB.player.name}}</a>
                            <a ng-if="game.rivalB.team" ui-sref="team-detail({id:game.rivalB.team.id})">{{game.rivalB.team.name}}</a>
                        </td>
                        <td>
                            <span ng-repeat="set in game.sets | orderBy:'id'">
                                {{set.scoreA}} : {{set.scoreB}}{{$last ? '' : ' | '}}
                            </span>
                        </td>
                        
                        <td style="text-align: center">{{game.finished}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="game.swiss-edit({gameId:game.id, id:vm.swiss.id})"
                                        class="btn btn-primary btn-sm"
                                        ng-disabled="game.rivalA.bye || game.rivalB.bye || vm.nextRoundGenerated(game.round)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ********* end game tables  ********* -->
    <button ng-disabled="vm.isGeneratingNextRound || vm.cannotGenerateNextRound()" type="button" class="btn btn-success center-block" ng-click="vm.generateNextRound()">
        <span class="glyphicon glyphicon-plus"></span>
        <span ng-if="vm.swiss.roundsToGenerate !== 0" class="hidden-sm-down" data-translate=""> Generate next round </span>
        <span ng-if="vm.swiss.roundsToGenerate === 0" class="hidden-sm-down" data-translate=""> No more rounds to generate </span><!--TODO: data-translate -->
    </button>
    
</div>
