
<form name="editForm" role="form" novalidate ng-submit="vm.save()" > <!-- show-validation -->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 ng-if="vm.allVersusAll.id === null" class="modal-title" id="myAllVersusAllLabel" 
            data-translate="tournamentControlApp.allVersusAll.home.createLabel">Create All-Versus-All tournament</h4>
        <h4 ng-if="vm.allVersusAll.id !== null" class="modal-title" id="myAllVersusAllLabel" 
            data-translate="tournamentControlApp.allVersusAll.home.editLabel"
            translate-values="{id: '{{vm.allVersusAll.id}}'}">Edit All-Versus-All tournament #{{vm.allVersusAll.id}}</h4>

    </div>
    <div class="modal-body">

        <div class="form-group  ">
            <label class="control-label" data-translate="tournamentControlApp.tournament.name" for="field_name">
                Name
            </label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.allVersusAll.name"
                   required/>
            <div ng-show="editForm.name.$invalid" class="">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.note" for="field_note">
                Note
            </label>
            <textarea rows="3" type="text" class="form-control" name="note" id="field_note"
                      ng-model="vm.allVersusAll.note"
                      ></textarea>
        </div>
        
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForWinning" 
                       for="field_pointsForWinning">
                    Points For Winning
                </label>
                <input type="number" class="form-control" name="pointsForWinning" id="field_pointsForWinning"
                       ng-model="vm.allVersusAll.pointsForWinning"
                       />
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForLosing" 
                       for="field_pointsForLosing">
                    Points For Losing
                </label>
                <input type="number" class="form-control" name="pointsForLosing" id="field_pointsForLosing"
                       ng-model="vm.allVersusAll.pointsForLosing"
                       />
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForTie" 
                       for="field_pointsForTie">
                    Points For Tie
                </label>
                <input type="number" class="form-control" name="pointsForTie" id="field_pointsForTie"
                       ng-model="vm.allVersusAll.pointsForTie"
                       />
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3  ">
                <label class="control-label" data-translate="tournamentControlApp.allVersusAll.numberOfMutualMatches" 
                       for="field_numberOfMutualMatches">
                    Number Of Mutual Matches
                </label>
                <input type="number" class="form-control" name="numberOfMutualMatches" id="field_numberOfMutualMatches"
                       ng-model="vm.allVersusAll.numberOfMutualMatches"
                       required min="1"/>
                <div ng-show="editForm.numberOfMutualMatches.$invalid">
                    <p class="help-block"
                       ng-show="editForm.numberOfMutualMatches.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.numberOfMutualMatches.$error.min" data-translate="entity.validation.min" 
                       translate-value-min="{{1}}">
                        This field should be at least 1.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.numberOfMutualMatches.$error.number" data-translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3  ">
                <label class="control-label" data-translate="tournamentControlApp.tournament.playingFields" 
                       for="field_playingFields">
                    Playing Fields
                </label>
                <input type="number" class="form-control" name="playingFields" id="field_playingFields"
                       ng-model="vm.allVersusAll.playingFields" min="1"
                       />
                <div ng-show="editForm.playingFields.$invalid">
                    <p class="help-block"
                       ng-show="editForm.playingFields.$error.min" data-translate="entity.validation.min" 
                       translate-value-min="{{1}}">
                        This field should be at least 1.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.playingFields.$error.number" data-translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
                <div ng-if="vm.playingFieldsInvalid()">
                    <p class="help-block" data-translate="entity.validation.playingFields_max"
                       translate-value-max="{{vm.maxPlayingFields()}}">
                        Field should not be bigger than max.
                    </p>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" >
                <label class="control-label" data-translate="tournamentControlApp.tournament.setsToWin" for="field_setsToWin">Sets To Win</label>
                <input type="number" min="1" class="form-control" name="setsToWin" id="field_setsToWin"
                       ng-model="vm.allVersusAll.setsToWin"
                       />
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <label class="control-label" data-translate="tournamentControlApp.tournament.tiesAllowed" for="field_tiesAllowed">Ties Allowed</label>
                <select name="tiesAllowed" id="field_tiesAllowed" ng-model="vm.allVersusAll.tiesAllowed"  class="form-control"
                        ng-options="bool.value as bool.display for bool in [{display: 'No', value: false}, {display: 'Yes', value: true}]"> 
                </select>
            </div>
        </div>
        
        <!-- ********* advanced set settings and participants  ********* -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="advancedSetSettings_heading">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#advancedSetSettings" 
                           aria-expanded="false" aria-controls="advancedSetSettings">
                            Advanced Set Settings [optional]
                        </a>
                    </h4>
                </div>
                <div id="advancedSetSettings" class="panel-collapse collapse" ng-class="{'in': vm.setSettingsChosen}" role="tabpanel" aria-labelledby="advancedSetSettings_heading">
                    <div class="panel-body">
                        <!--Set settings-->
                        <div class=" form-inline myPaqddingBottom">
                            <div class=" form-group  ">
                                <label class="control-label" for="field_maxScore">
                                    <input type="radio" ng-model="vm.setSettingsChosen" value="maxScore" checked> Max Score
                                </label>
                                <input ng-disabled="vm.setSettingsChosen !== 'maxScore'" type="number" 
                                    class="form-control" name="maxScore" id="field_maxScore"
                                    ng-model="vm.preparedSettings.maxScore"
                                    min="1"/>
                                <div ng-show="editForm.maxScore.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.maxScore.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                                        This field should be at least 1.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.maxScore.$error.number" data-translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group  ">
                                <label class="control-label" for="field_leadByPoints">
                                    <input type="radio" ng-model="vm.setSettingsChosen" value="leadByPoints"> Lead-by points
                                </label>
                                <input ng-disabled="vm.setSettingsChosen !== 'leadByPoints'" type="number" class="form-control" name="leadByPoints" id="field_leadByPoints"
                                       ng-model="vm.preparedSettings.leadByPoints"
                                       min="1"/>
                                <div ng-show="editForm.leadByPoints.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.leadByPoints.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                                        This field should be at least 1.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.leadByPoints.$error.number" data-translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group  ">
                                <label class="control-label" data-translate="tournamentControlApp.setSettings.minReachedScore" for="field_minReachedScore">Min Reached Score</label>
                                <input ng-disabled="vm.setSettingsChosen !== 'leadByPoints'" type="number" class="form-control" name="minReachedScore" id="field_minReachedScore"
                                       ng-model="vm.preparedSettings.minReachedScore"
                                       min="0"/>
                                <div ng-show="editForm.minReachedScore.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.minReachedScore.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                                        This field should be at least 0.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.minReachedScore.$error.number" data-translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <!--Set settings--> 
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>
<!-- ********* PARTICIPANTS ********* -->
        <div class="well well-sm">
            <div class="">
                <ul class="nav nav-pills pull-left" id="myTab">
                    <li class="active"><a showtab href="#players" ng-click="chosen = 1">
                            <span  data-translate=""> Add Players </span> <!--TODO: data-translate -->
                            <span class="badge"> {{vm.selectedPlayers.length}}</span>
                        </a>
                    </li>
                    <li ng-disabled=""><p class="text-center text" style="padding-top: 10px;padding-left: 5px;padding-right: 5px" data-translate="">or</p></li>
                    <li><a showtab href="#teams" ng-click="chosen = 2; vm.init_teamValidityMap()">
                            <span  data-translate=""> Add Teams </span><!--TODO: data-translate -->
                            <span class="badge"> {{vm.selectedTeams.length}}</span>
                        </a>
                    </li>
                </ul>

                <div class="pull-right">
                    <button ng-disabled="chosen===2" type="button" class="btn btn-default"  ng-click="vm.selectAll()">
                        <span data-translate="entity.action.selectAll">Select All</span>
                    </button>
                    <button type="button" class="btn btn-default"  ng-click="vm.deselectAll()">
                        <span data-translate="entity.action.deselectAll">Deselect All</span>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="tab-content " style="padding: 10px">
                
                <div class="tab-pane active row" id="players">
                        <div class="col-md-3 col-sm-6 col-xs-12" 
                             ng-repeat="participant in vm.participants | filter: isPlayer">
                            <span>
                                <label for="player_checkbox_{{$index}}"> 
                                    <input  type="checkbox"  id="player_checkbox_{{$index}}" name="player_checkbox" 
                                            checklist-model="vm.selectedPlayers" checklist-value="participant"
                                            ng-click="vm.onPlayerClick()">
                                        {{participant.player.name}}
                                </label> 
                            </span>
                        </div>
                    </div>
                    <div class="tab-pane row" id="teams">
                        <div class="col-md-3 col-sm-6 col-xs-12" 
                             ng-repeat="participant in vm.participants | filter: isTeam">
                            <span>  
                                <label for="team_checkbox_{{$index}}" ng-class="vm.getTeamCSS_onValidity(participant)">
                                    <input  type="checkbox"  id="team_checkbox_{{$index}}" name="team_checkbox"
                                            checklist-model="vm.selectedTeams" checklist-value="participant"
                                            ng-disabled="vm.teamIsInvalid(participant)"
                                            ng-click="vm.onTeamClick()"> 
                                    
                                        {{participant.team.name}}
                                </label>
                            </span>
                        </div>
                    </div>
                
            </div>
        </div>
<!-- ********* end - PARTICIPANTS ********* -->
    </div>
    <div class="modal-footer">
        <jhi-alert-error></jhi-alert-error>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.playingFieldsInvalid()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
