
<div>
    <h2><small>Tournament:</small> {{vm.elimination.name}}</h2> <!--TODO: -->
    <hr/>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="global.field.id">Id</span></dt>
        <dd>
            <span>{{vm.elimination.id}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.elimination.type">Type</span></dt>
        <dd>
            <span>{{vm.elimination.type}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.note">Note</span></dt>
        <dd>
            <span>{{vm.elimination.note}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForWinning">Points For Winning</span></dt>
        <dd>
            <span>{{vm.elimination.pointsForWinning}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForLosing">Points For Losing</span></dt>
        <dd>
            <span>{{vm.elimination.pointsForLosing}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.pointsForTie">Points For Tie</span></dt>
        <dd>
            <span>{{vm.elimination.pointsForTie}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.created">Created</span></dt>
        <dd>
            <span>{{vm.elimination.created| date:'medium'}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.tournament.participants">Participants</span></dt>
        <dd>
            <span ng-repeat="participant in vm.elimination.participants">
                <a ng-if="participant.player" ui-sref="player-detail({id: participant.player.id})">{{participant.player.name}}</a>
                <a ng-if="participant.team" ui-sref="team-detail({id: participant.team.id})">{{participant.team.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="">Set Settings</span></dt>
        <dd>
            <span>{{vm.elimination.setSettings}}</span>
        </dd>
    </dl>
    
    <!-- buttons -->
    <div style="padding-top: 20px">
        <button type="submit"
                ui-sref="{{vm.previousState}}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>

        <button type="button" ui-sref="elimination-detail.edit({id:vm.elimination.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
        </button>
    </div>
    <!-- buttons -->
    
    <!-- tree node templates -->
    <div ng-repeat="match in vm.elimination.matches" ng-hide="true">
        <a ui-sref="game.elimination-edit({gameId: match.id, id:vm.elimination.id})" 
           id="match_{{match.id}}" class="bracket-link" ng-class="vm.disabledIfBYE(match)" > 
            <table class="bracket-table">
                <tr>
                    <td rowspan="2" class="bracket-period-td">{{match.period - 1}}</td>
                    <td class="bracket-name-td">{{vm.getName(match.rivalA, match.round)}}</td>
                    <td ng-repeat="set in match.sets" class="bracket-scores-td">{{set.scoreA}}</td>
                    <td rowspan="2" class="bracket-period-td">
                        <span ng-if="match.finished" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="!match.finished" class="glyphicon glyphicon-refresh"></span>
                    </td>
                </tr> 
                <tr> 
                    <td class="bracket-name-td">{{vm.getName(match.rivalB, match.round)}}</td>
                    <td ng-repeat="set in match.sets" class="bracket-scores-td">{{set.scoreB}}</td>
                </tr>
            </table>
        </a>
    </div>
    <!-- tree node templates -->
    
    <div class=" right">
        <div id="winner-tree"> </div>
        <div ng-if="vm.elimination.bronzeMatch" id="bronze-tree"> </div>
    </div>
</div>
