<div>
    <h2 data-translate="tournamentControlApp.tournament.home.title">Tournaments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tournament.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tournamentControlApp.tournament.home.createLabel">
                        Create new Tournament
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.name">Name</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.note">Note</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.created">Created</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.setsToWin">Sets To Win</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.tiesAllowed">Ties Allowed</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.playingFields">Playing Fields</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.pointsForWinning">Points For Winning</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.pointsForTie">Points For Tie</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.pointsForLosing">Points For Losing</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.user">User</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.participants">Participants</span></th>
                    <th><span data-translate="tournamentControlApp.tournament.setSettings">Set Settings</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in vm.tournaments track by tournament.id">
                    <td><a ui-sref="tournament-detail({id:tournament.id})">{{tournament.id}}</a></td>
                    <td>{{tournament.name}}</td>
                    <td>{{tournament.note}}</td>
                    <td>{{tournament.created | date:'medium'}}</td>
                    <td>{{tournament.setsToWin}}</td>
                    <td>{{tournament.tiesAllowed}}</td>
                    <td>{{tournament.playingFields}}</td>
                    <td>{{tournament.pointsForWinning}}</td>
                    <td>{{tournament.pointsForTie}}</td>
                    <td>{{tournament.pointsForLosing}}</td>
                    <td>
                        {{tournament.user.login}}
                    </td>
                    <td>
                        <span ng-repeat="participants in tournament.participants">
                            <a class="form-control-static" ui-sref="participant-detail({id: participants.id})">{{participants.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="set-settings-detail({id:tournament.setSettings.id})">{{tournament.setSettings.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tournament-detail({id:tournament.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tournament.edit({id:tournament.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tournament.delete({id:tournament.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
