
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTournamentLabel" data-translate="tournamentControlApp.tournament.home.createOrEditLabel">Create or edit a Tournament</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tournament.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tournament.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.tournament.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.tournament.note"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForWinning" for="field_pointsForWinning">Points For Winning</label>
            <input type="number" class="form-control" name="pointsForWinning" id="field_pointsForWinning"
                    ng-model="vm.tournament.pointsForWinning"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForLosing" for="field_pointsForLosing">Points For Losing</label>
            <input type="number" class="form-control" name="pointsForLosing" id="field_pointsForLosing"
                    ng-model="vm.tournament.pointsForLosing"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.pointsForTie" for="field_pointsForTie">Points For Tie</label>
            <input type="number" class="form-control" name="pointsForTie" id="field_pointsForTie"
                    ng-model="vm.tournament.pointsForTie"
                    />
        </div>
<!--        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.tournament.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.tournament.created" is-open="vm.datePickerOpenStatus.created"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.created.$invalid">
                <p class="help-block"
                    ng-show="editForm.created.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>-->

        <div class="form-group">
            <label data-translate="tournamentControlApp.tournament.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.tournament.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="tournamentControlApp.tournament.participants" for="field_participants">Participants</label>
            <select class="form-control" id="field_participants" multiple name="participants" ng-model="vm.tournament.participants" ng-options="participant as participant.id for participant in vm.participants track by participant.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
