<div>
    <h2 data-translate="tournamentControlApp.tournament.home.title">Tournaments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left no-padding-right">
                <button class="btn btn-primary" ui-sref="all-versus-all.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tournamentControlApp.allVersusAll.home.createBtnLabel">
                        Create new All Versus All
                    </span>
                </button>
                <button class="btn btn-primary" ui-sref="elimination.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tournamentControlApp.elimination.home.createBtnLabel">
                        new Elimination
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a showtab href="#allversusall"><span  data-translate="">All-play-all</span></a></li><!--TODO: data-translate -->
        <li><a showtab href="#elimination"><span  data-translate="">Elimination</span></a></li><!--TODO: data-translate -->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="allversusall">
            <div class="table-responsive">
                <table class="jh-table table table-striped" id="allversusallTable" >
                    <thead>
                        <tr>
                            <th data-sort="int"><span data-translate="global.field.id">ID</span></th>
                            <th data-sort="string"><span data-translate="tournamentControlApp.tournament.name">Name</span></th>
                            <th><span data-translate="tournamentControlApp.tournament.note">Note</span></th>
                            <th data-sort="int"><span data-translate="">Number of Participants</span></th>
                            <th data-sort="float"><span data-translate="tournamentControlApp.tournament.created">Created</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="allVersusAll in vm.allVersusAlls track by allVersusAll.id">
                            <td><a ui-sref="all-versus-all-detail({id:allVersusAll.id})">{{allVersusAll.id}}</a></td>
                            <td>{{allVersusAll.name}}</td>
                            <td >{{allVersusAll.note}}</td>
                            <td>{{allVersusAll.participants.length}}</td>
                            <td>{{allVersusAll.created| date:'medium'}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="all-versus-all-detail({id:allVersusAll.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="all-versus-all.edit({id:allVersusAll.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="all-versus-all.delete({id:allVersusAll.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="elimination">
            <div class="table-responsive">
                <table class="jh-table table table-striped" id="eliminationTable">
                    <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="name"><span data-translate="tournamentControlApp.tournament.name">Name</span><span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="note"><span data-translate="tournamentControlApp.tournament.note">Note</span><span class="glyphicon glyphicon-sort"></span></th>
                            <th data-sort="int"><span data-translate="">Number of Participants</span><span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="created"><span data-translate="tournamentControlApp.tournament.created">Created</span><span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                        <tr ng-repeat="elimination in vm.eliminations track by elimination.id">
                            <td><a ui-sref="elimination-detail({id:elimination.id})">{{elimination.id}}</a></td>
                            <td>{{elimination.name}}</td>
                            <td>{{elimination.note}}</td>
                            <td>{{elimination.participants.length}}</td>
                            <td>{{elimination.created | date:'medium'}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="elimination-detail({id:elimination.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="elimination.edit({id:elimination.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="elimination.delete({id:elimination.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        
    </div>
</div>
