
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeamLabel" data-translate="tournamentControlApp.team.home.createOrEditLabel">Create or edit a Team</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.team.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.team.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tournamentControlApp.team.note" for="field_note">Note</label>
            <textarea type="text" class="form-control" name="note" id="field_note"
                      ng-model="vm.team.note"
                      ></textarea>
        </div>

<!--        <div class="form-group">
            <label data-translate="tournamentControlApp.team.members" for="field_members">Members</label>
            <div class=" panel panel-default panel-body">
                <div ng-repeat="player in vm.players track by player.id" >
                    <label>
                        <input  type="checkbox"  id="field_members" name="members" 
                                checklist-model="vm.team.members" checklist-value="player" > 
                        {{player.name}}
                    </label> 
                </div>
            </div>
        </div>-->
        
    <div class="form-group">
            <label data-translate="tournamentControlApp.team.members" for="members">Members</label> <span class="badge">{{vm.team.members.length}}</span>
            <div class="input-group">  
                <div class="my-persistent-placeholder-ui-select"><ui-select id='members' uis-open-close="vm.onOpenClose(isOpen)" 
                    ng-model="vm.team.members" focus-on="myMembersPlaceholderClicked"
                    multiple theme="bootstrap" title="Choose a player" close-on-select="false"
                    >
                <ui-select-match placeholder="Select or search a person in the list...">{{$item.name}}</ui-select-match>
                <ui-select-choices group-filter="vm.orderFilterFn" 
                                   repeat="item in vm.players | filter: $select.search | orderBy: 'name' track by item.id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                    <span class="text text-info"> &nbsp; &nbsp; No players found. </span>
                </ui-select-no-choice>
            </ui-select></div>

                <div class="input-group-btn btn-group-vertical" style="vertical-align: top">
                <button type="button" ng-click="vm.resetMembers()" class="btn btn-default" title="Reset">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button type="button" ng-click="vm.clearMembers()" class="btn btn-default" title="Clear">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            </div>

    </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
