
<div>
    <h2><span data-translate="tournamentControlApp.team.detail.title">Team</span> {{vm.team.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="tournamentControlApp.team.name">Name</span></dt>
        <dd>
            <span>{{vm.team.name}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.team.note">Note</span></dt>
        <dd>
            <span>{{vm.team.note}}</span>
        </dd>
        <dt><span data-translate="tournamentControlApp.team.user">User</span></dt>
        <dd>
            {{vm.team.user.login}}
        </dd>
        <dt><span data-translate="tournamentControlApp.team.members">Members</span></dt>
        <dd>
            <span ng-repeat="members in vm.team.members">
                <a ui-sref="player-detail({id: members.id})">{{members.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="">Is in tournaments</span></dt><!--TODO: data-translate -->
        <dd>
            <span ng-repeat="tournament in vm.tournaments">
                <a ui-sref="{{vm.getTournamentLink(tournament)}}">{{tournament.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            back
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="team-detail.edit({id:vm.team.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
